body {
    background-color: $primary-50 !important;
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.03em;
}

p {
    letter-spacing: 0.03em;
}

input::placeholder {
    color: $neutral-400 !important;
}