<!-- Modal -->
<div class="modal fade" id="budget-add-Modal" tabindex="-1" aria-labelledby="budget-add-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <form action="./budget-view_data.html" class="h-100 d-flex flex-column">
                <div class="modal-header justify-content-center py-2 bg-primary-50">
                    <h1 class="fs-5 text-center">新增預算</h1>
                </div>
                <div class="modal-body mb-auto container-fluid">
                    <div class="row mb-2">
                        <label for="exampleInputEmail1" class="col-form-label col-2">名稱</label>
                        <div class="col-10">
                            <input type="text" class="form-control text-end border-0" id="buggetname" required
                                placeholder="請輸入名稱">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="exampleInputEmail1" class="col-form-label col-2">月份</label>
                        <div class="col-10">
                            <input type="month" class="form-control text-end border-0" id="buggetname" required
                                placeholder="西元年/月">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label for="exampleInputEmail1" class="col-form-label col-2">金額</label>
                        <div class="col-10">
                            <input type="number" class="form-control text-end border-0" id="buggetname" min="0"
                                step="1" required placeholder="$0">
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-center">
                        <label for="flexSwitchCheckChecked" class="col-form-label col-auto text-start">下個月自動沿用</label>
                        <div class="col-auto">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckChecked" checked>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer d-block  border-0 pb-5">
                    <div class="alert alert-success fs-7 flex-grow-1 mb-8 text-start fw-bolder text-neutral-950 py-3 px-4 mx-0 rounded-1"
                        role="alert"><i class="bi bi-check-circle text-success-300 me-2 d-inline-block"></i>新增預算成功
                    </div>
                    <div class="d-flex flex-row flex-nowrap gap-2 mx-0">
                        <button type="button" class="btn w-100 rounded-3 btn-neutral-100"
                            data-bs-dismiss="modal">取消</button>
                        <button type="submit" class="btn w-100 rounded-3 btn-primary">新增預算</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>