<!-- Modal -->
<div class="modal fade" id="budget-detail-add-Modal" tabindex="-1" aria-labelledby="budget-detail-add-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <form action="./budget-detail-view_data.html" class="h-100 d-flex flex-column">
                <div class="modal-header justify-content-center py-2 bg-primary-50">
                    <h1 class="fs-5 text-center">新增預算分類</h1>
                </div>
                <div class="modal-body mb-auto container-fluid">
                    <ul class="list-unstyled icon-type-list row gx-2 row-cols-4 border-bottom pb-7">
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/add-circle.svg);"></div>
                                    </div>
                                    <b class="fs-8">新增</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault3" checked>
                                <label class="form-check-label" for="flexRadioDefault3">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/toast.svg);"></div>
                                    </div>
                                    <b class="fs-8">飲食</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault4">
                                <label class="form-check-label" for="flexRadioDefault4">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/medical.svg);"></div>
                                    </div>
                                    <b class="fs-8">醫療</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault5">
                                <label class="form-check-label" for="flexRadioDefault5">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/travel.svg);"></div>
                                    </div>
                                    <b class="fs-8">旅行</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault6">
                                <label class="form-check-label" for="flexRadioDefault6">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/bus.svg);"></div>
                                    </div>
                                    <b class="fs-8">交通</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault7" >
                                <label class="form-check-label" for="flexRadioDefault7">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/beverage.svg);"></div>
                                    </div>
                                    <b class="fs-8">飲品</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault8">
                                <label class="form-check-label" for="flexRadioDefault8">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/game.svg);"></div>
                                    </div>
                                    <b class="fs-8">娛樂</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault9">
                                <label class="form-check-label" for="flexRadioDefault9">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/education.svg);"></div>
                                    </div>
                                    <b class="fs-8">教育</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault10">
                                <label class="form-check-label" for="flexRadioDefault10">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/piggy-bank.svg);"></div>
                                    </div>
                                    <b class="fs-8">投資</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault11" >
                                <label class="form-check-label" for="flexRadioDefault11">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/shopping.svg);"></div>
                                    </div>
                                    <b class="fs-8">失心瘋</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault12">
                                <label class="form-check-label" for="flexRadioDefault12">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/baby.svg);"></div>
                                    </div>
                                    <b class="fs-8">小孩</b>
                                </label>
                            </div>
                        </li>
                        <li class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault13">
                                <label class="form-check-label" for="flexRadioDefault13">
                                    <div class="icon-image">
                                        <div class="image"
                                            style="mask-image: url(/assets/images/budget/icon/shopping.svg);"></div>
                                    </div>
                                    <b class="fs-8">購物</b>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <div class="row mb-2 justify-content-between flex-nowrap">
                        <label for="exampleInputEmail1" class="col-form-label flex-fill ">預算編列金額</label>
                        <div class="flex-fill">
                            <input type="number" class="form-control text-end border-0" id="buggetname" required
                                placeholder="$0">
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-block  border-0 pb-5">
                    <div class="alert alert-success fs-7 flex-grow-1 mb-8 text-start fw-bolder text-neutral-950 py-3 px-4 mx-0 rounded-1"
                        role="alert"><i class="bi bi-check-circle text-success-300 me-2 d-inline-block"></i>新增分類成功
                    </div>
                    <div class="d-flex flex-row flex-nowrap gap-2 mx-0">
                        <button type="button" class="btn w-100 rounded-3 btn-neutral-100"
                            data-bs-dismiss="modal">取消</button>
                        <button type="submit" class="btn w-100 rounded-3 btn-primary">新增分類</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>