<div id="filter-date-menu" class="dropdown-menu">
    <div class="d-flex align-items-center justify-content-between">
      <span class="d-block p-2"><img src="/assets/images/home/arrow-left.svg" width="24"></span>
      <b class="text-primary-600">2024 / 8 <i class="bi bi-caret-down-fill fs-8"></i></b>
      <span class="d-block p-2"><img src="/assets/images/home/arrow-right.svg" width="24"></span>
    </div>
    <ul class="week-group list-unstyled text-center row g-0 py-3 px-1 border-bottom">
      <li class="col"><a href="#" class="btn btn-light w-100 p-0 fs-7">週日</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 p-0 fs-7">週一</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 p-0 fs-7">週二</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 p-0 fs-7">週三</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 p-0 fs-7">週四</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 p-0 fs-7">週五</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 p-0 fs-7">週六</a></li>
    </ul>
    <ul class="date-group list-unstyled text-center row row-cols-7 gx-2 pt-4">
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle disabled"></a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle disabled"></a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle disabled"></a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle disabled"></a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle disabled"></a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle disabled"></a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">1</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">2</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">3</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">4</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">5</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">6</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">7</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">8</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">9</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">10</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">11</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">12</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">13</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">14</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">15</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">16</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">17</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">18</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">19</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">20</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">21</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">22</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">23</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">24</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">25</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">26</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle active">27</a></li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">28</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">29</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">30</a>
      </li>
      <li class="col"><a href="#" class="btn btn-light w-100 px-0 py-3 fs-7 rounded-circle">31</a>
      </li>
    </ul>
  </div>

  