<div class="status-bar bg-primary-50 d-sm-flex d-none">
    <div class="iphone-time">
        <time datetime="">9:41</time>
    </div>
    <div class="iphone-notch">
        <img src="/assets/images/iphone/icon-notch.svg" alt="status" height="30">
    </div>
    <div class="iphone-status">
        <img src="/assets/images/iphone/icon-status.svg" alt="status" height="13">
    </div>
</div>