// 顏色
.bg-gradient-1 {
    background: linear-gradient(180deg, $primary-50 5%, $white 80%);
}

// 下拉樣式
.dropdown-menu {
    position: relative;
    border: 1px solid red;

    &::before {
        content: '';
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
        top: 100%;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.4);
    }
}

.no-arrow {
    &.dropdown-toggle::after {
        display: none;
    }
}


// nav選單樣式
.nav-pills {
    .nav-link {
        font-weight: 700;
        color: $neutral-500;
    }

    .nav-link.active,
    .show>.nav-link {
        color: $neutral-950;
        background-color: $white;
    }
}

.nav-underline {
    background-color: $primary-50;
    border-bottom: 1px solid $primary-100;

    .nav-link {
        color: $neutral-500;
    }
}


// card
.card {
    box-shadow: 0px 2px 10px -4px rgba(9, 21, 75, 0.05);
    border: none;
}


// 按鈕樣式
.btn-primary {
    background: linear-gradient(90.79deg, #4E86E1 3.18%, #394EC9 97.27%) !important;

    &:hover {
        background: #2a398c;
    }

}

.btn-light {

    &:hover,
    &.active {
        color: #fff;
        background-color: $primary-600;
        border-color: $primary-600;
    }
}


// form表單樣式
.form-switch .form-check-input {
    width: 38px;
    height: 24px;
}

.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-select~label::after {
    background-color: transparent;
}

.form-control.bg-gray{
    background-color: $neutral-100;
    color: $neutral-400;
    font-size: 14px;
    padding: 10px 12px;
    border: none;
}

.form-control:focus{
    box-shadow: none;
}


.loading,
.alert-notion {
    opacity: 0;
}


.alert-notion{
    position: absolute;
    width: calc(100% - 32px);
    bottom: 82px;
    left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint-down(sm){
        position: fixed;
    }
}