.no-arrow {
    &.dropdown-toggle::after {
        display: none;
    }
}

.btn-light {

    &:hover,
    &.active {
        color: #fff;
        background-color: $primary-600;
        border-color: $primary-600;
    }
}

.nav-pills {
    .nav-link {
        font-weight: 700;
        color: $neutral-500;
    }

    .nav-link.active,
    .show>.nav-link {
        color: $neutral-950;
        background-color: $white;
    }
}

.bg-gradient-1 {
    background: linear-gradient(180deg, $primary-50 2%, $white 60%);
}


.dropdown-menu {
    position: relative;
    border: 1px solid red;

    &::before {
        content: '';
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
        top: 100%;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.4);

    }
}


.nav-underline {
    .nav-link {
        color: $neutral-500;
    }
}

.btn-primary.bg-gradient {
    background: linear-gradient(90.79deg, #4E86E1 3.18%, #394EC9 97.27%) !important;

    &:hover{
        background: #2a398c ;
    }

}