// font-family: "Noto Sans TC", sans-serif;

// Configuration
@import "bootstrap/scss/functions";

@import "/assets/scss/utils/variables";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


@import "/assets/scss/base/base";

// iPhone 外框樣式
@import "/assets/scss/layout/iphone-frame";

// iphone 狀態列
@import "/assets/scss/components/status-bar";

// iphone 下方選單bar
@import "/assets/scss/components/tab-bar";

@import "/assets/scss/components/dropdown";

// 主要內容
@import "/assets/scss/layout/main-content";

@import "/assets/scss/themes/theme";

@import "/assets/scss/pages/index";

@import "/assets/scss/pages/budget";

@import "/assets/scss/pages/invoice";

@import "/assets/scss/pages/member";

// @import "/assets/scss/pages/import-invoice";