@include media-breakpoint-up(sm) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 5% 0;
    overflow: hidden;
  }

  .app-wrapper {
    width: 375px;
    height: 812px;
    position: relative;

    &::after {
      content: '';
      width: calc(100% + 28px);
      height: calc(50% + 10px);
      position: absolute;
      top: calc(0% - 10px);
      left: 50%;
      transform: translateX(-50%);
      background-image: url(/assets/images/iphone/iphone.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top center;
      pointer-events: none;
    }

    &::before {
      content: '';
      width: calc(100% + 28px);
      height: calc(50% + 10px);
      position: absolute;
      bottom: calc(0% - 10px);
      left: 50%;
      transform: translateX(-50%);
      background-image: url(/assets/images/iphone/iphone.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom center;
      pointer-events: none;

    }
  }

  .app-content {
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    position: relative;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

  }

}


@include media-breakpoint-down(sm) {
  .wrapper {
    background-color: #fff;
  }
  .app-wrapper {
    width: 100%;
    height: 100vh;
  }
  .app-content{
    height: 100%;
  }
}