.modal {
    position: absolute;

    .modal-fullscreen {
        width: 100%;
        height: calc(100% - 54px);
        padding-bottom: 60px;
        top: 54px;
    }
}

.modal-backdrop.show {
    display: none;
}


.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, 0px);
}

.modal.show .modal-dialog {
    transform: none;
}

.icon-type-list {
    .form-check {
        position: relative;
        padding: 0;

        .form-check-input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 0;
            background-color: transparent;
            border: none;
            margin: 0;

            &:checked[type=radio] {
                opacity: 0;
            }
        }

        .form-check-label {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon-image {
                position: relative;
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $neutral-100;
                    border-radius: 50%;
                    opacity: 0;
                }

                .image {
                    width: 100%;
                    height: 100%;
                    display: block;
                    border: 1.5px solid;
                    color: $neutral-950;
                    background: $neutral-950;
                    mask-size: 24px;
                    mask-position: center;
                    mask-repeat: no-repeat;
                }
            }

        }

        input:checked~.form-check-label {
            color: #394EC9;

            .icon-image {
                &::before {
                    opacity: 1;
                }

                .image {

                    background: linear-gradient(90.79deg, #4E86E1 3.18%, #394EC9 97.27%);
                }
            }
        }
    }
}