@include media-breakpoint-up(sm) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 5% 0;
    overflow: hidden;
  }

  .appWrapper {
    width: 375px;
    height: 812px;

    position: relative;

    &::after {
      content: '';
      width: calc(100% + 28px);
      height: calc(50% + 10px);
      position: absolute;
      top: calc(0% - 10px);
      left: 50%;
      transform: translateX(-50%);
      background-image: url(/assets/images/iphone.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top center;
      pointer-events: none;
    }

    &::before {
      content: '';
      width: calc(100% + 28px);
      height: calc(50% + 10px);
      position: absolute;
      bottom: calc(0% - 10px);
      left: 50%;
      transform: translateX(-50%);
      background-image: url(/assets/images/iphone.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom center;
      pointer-events: none;

    }
  }

  .appContent {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    position: relative;

  }

}

.status-bar {
  // background: #ECF4FF;
  display: flex;
  justify-content: space-between;
  position: static;
  top: 0;
  width: 100%;

  @include media-breakpoint-down(sm) {
    position: fixed;
  }

  .iphone-time,
  .iphone-notch,
  .iphone-status {
    width: 100%;
    text-align: center;
    padding: 12px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-bottom {
  background-color: #fff;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99999;
  

  @include media-breakpoint-down(sm) {
    position: fixed;
  }

  .nav-link {
    padding: 8px 0;
    font-size: 10px;
    width: 100%;
    text-align: center;
    color: #2C2E33;
    position: relative;
    z-index: 1;

    .link-active {
      display: none;
      visibility: hidden;
    }

    &.active,&:hover {
      color: $primary;

      .link-normal {
        display: none;
        visibility: hidden;
      }

      .link-active {
        display: inline-block;
        visibility: visible;

      }
    }

    b {
      margin-top: 4px;
      display: block;
    }

    &.plus-link {
      transform: translateY(-16px);
      padding-top: 0;
      height: 60px;
    }

    .icon-plus {
      background: linear-gradient(90.79deg, #4E86E1 3.18%, #394EC9 97.27%);
      color: #fff;
      width: 48px;
      height: 48px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
      }
    }
  }
}

.contentArea {
  width: 100%;
  height: calc(100% - 114px);
  overflow-y: scroll;
  // padding-top: 54px;


  @include media-breakpoint-down(sm) {

    padding-bottom: 76px;
  }
}