.btn-filter {
    border-radius: 12px;
    color: $neutral-500;
    font-weight: 700;

    &.show , &.active{
        background-color: #fff;
        color: $neutral-950;
    }
}

.filter-time {
    height: 44px;
    display: flex;
    align-items: center;
}


#filter-date-menu,
#filter-moon-menu    {
    margin-top: 5px !important;
}