<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>CoinB 記帳APP</title>
</head>

<body>

    <div class="wrapper">
        <div class="appWrapper">
            <section class="appContent">
                <%- include('./layout/status-bar'); -%>
                    <div class="contentArea ">
                        <!-- App 內容 -->
                        <header class="d-flex justify-content-between py-2 bg-primary-50">
                            <a href="#" class="px-3 link-neutral-950"><i class="bi bi-search"></i></a>
                            <h1 class="fs-5">預算</h1>
                            <a href="#" class="px-3 link-neutral-950"><i class="bi bi-plus-lg"></i></a>
                        </header>
                        <main class="h-100 d-flex align-items-center justify-content-center pb-5">
                            <div class="text-center">
                                <img src="/assets/images/deco/beelingu.svg" width="64" class="opacity-50">
                                <p class="fs-7 text-neutral-500  mb-4">
                                    尚未設定預算 <br>
                                    快來自定義一筆預算吧！
                                </p>

                                <a href="#" class="btn btn-primary bg-gradient py-2 px-6" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">新增一筆</a>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-fullscreen">
                                        <div class="modal-content">
                                            <div class="modal-header justify-content-center py-2 bg-primary-50">
                                                <h1 class="fs-5 text-center">新增預算</h1>
                                            </div>
                                            <div class="modal-body">
                                                
                                            </div>
                                            <div class="modal-footer d-flex flex-row flex-nowrap border-0 py-0 pb-5">
                                                <button type="button" class="btn w-100 rounded-3 btn-secondary" data-bs-dismiss="modal">取消</button>
                                                <button type="button" class="btn w-100 rounded-3 btn-primary">新增預算</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </main>
                    </div>
                    <%- include('./layout/nav-bottom',{page:'budget'}); -%>
            </section>

        </div>
    </div>



    <script type="module" src="../main.js"></script>
</body>

</html>